<header>
    <nav class="blue-grey darken-3" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{SITEURL}}/" class="brand-logo valign-wrapper"><img src="../theme/images/fist-logo.png" style="max-height:60px;">{{SITENAME}}</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right">
                    <li><a href="/about.html">about</a></li>
                    <li><a href="/category/video.html">video</a></li>
                    <li><a href="/category/audio.html">audio</a></li>
                    <li><a href="/category/news.html">news</a></li>
                    <li><a href="/category/podcast.html">podcast</a></li>
                    <li><a href="/category/resources.html">resources</a></li>
                    <li><a href="/contact.html">contact</a></li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li><a href="/about.html">about</a></li>
                <li><a href="/category/video.html">video</a></li>
                <li><a href="/category/audio.html">audio</a></li>
                <li><a href="/category/news.html">news</a></li>
                <li><a href="/category/podcast.html">podcast</a></li>
                <li><a href="/category/resources.html">resources</a></li>
                <li><a href="/contact.html">contact</a></li>
            </ul>
        </div>
    </nav>
</header>
